@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px; 
    height: auto;
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    background: -webkit-linear-gradient(90deg, #1970de,#00bfdb,#90e84d);
    background: linear-gradient(90deg, #1970de,#00bfdb,#90e84d);                 
    padding: 20px;
}

.left-column, .right-column {
    flex: 1;
    margin: 80px;
    min-width: 300px; 
} 

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; 
}

input[type="text"] {
    margin-bottom: 20px;
    width: 100%;
    max-width: 577px;
    height: 48px;
    border: none;
    background: #F3F5FC;
    color: #0A3871;
    font-size: 1.5rem; 
}

input[type="text"]::placeholder {
    color: #0A3871;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #0A3871;
}

.parrafo {
    color: #FFFFFF;
    margin-bottom: 50px; 
    font-size: 1rem; 
}

.buttons {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 20px;
    margin-top: auto; 
}

.boton1, .boton2, .copiar {    
    border-radius: 24px;
    width: calc(50% - 10px); 
    height: 67px;
    font-size: 1rem; 
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.boton1 {
    background: #0A3871;    
    border: 1px solid #0A3871;    
    color: white;
}

.boton1:hover {
    background: #6ce780;
}

.boton2 {
    background: #D8DFE8;    
    color: #0A3871;    
    border: 1px solid #0A3871;      
}

.boton2:hover {
    background: #6ce780;
}

.copiar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;  
    border-radius: 24px;
    width: 50%;
    height: 67px;
    font-size: 1rem; 
    cursor: pointer;
    transition: background 0.3s;
}

.copiar:hover {
    background: #6ce780;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: auto;
}

h1 {    
    text-align: center;
    font-size: 2rem; 
    color: #0A3871;
    font-weight: bold;    
    margin-bottom: 10px;
    padding: 10px;
}

h2 {    
    text-align: center;
    font-size: 1.25rem; 
    color: #495057;
    font-weight: normal;    
}

.right-column img {
    width: 100%;
    max-width: 336px;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right-column p {
    text-align: center;
    font-size: 1.5rem; 
    color: #0A3871;
    margin: 20px 0;
}

.footer {
    background: -webkit-linear-gradient(90deg, #2b577f,#369bdb);background: linear-gradient(90deg, #2b577f,#369bdb);
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.25rem;
    margin-top: auto;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .logo {
        width: 100px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    input[type="text"] {
        font-size: 1.25rem;
    }

    .boton1, .boton2, .copiar {
        font-size: 0.875rem;
        height: 60px;
    }
}

@media (max-width: 768px) {
    .logo {
        position: relative;
        top: 0;
        left: 0;
        margin: 10px auto;
        display: block;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .left-column, .right-column {
        width: 100%;
        margin: 10px 0;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 0.875rem;
    }

    input[type="text"] {
        font-size: 1rem;
    }

    .boton1, .boton2, .copiar {
        font-size: 0.75rem;
        height: 55px;
        width: calc(50% - 10px); 
    }

    .right-column img {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 80px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    input[type="text"] {
        font-size: 0.875rem;
    }

    .boton1, .boton2, .copiar {
        font-size: 0.625rem;
        height: 50px;
        width: calc(50% - 10px); 
    }
}
