@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F3F5FC;
}

.container {
    
    display: flex;
    width: 80%;
    justify-content: space-between;
    background-color: #F3F5FC;  
    
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: 128px;
    
    
}

input[type="text"] {
    margin-bottom: 40px;
    width: 577px;
    height: 48px;
    border: none;
    background: #F3F5FC;
    color: #0A3871;
    font-size: 32px;    
    font-family: 'inter', 'sans-serif';
}

input[type="text"]::placeholder {
    color: #0A3871;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.parrafo{
    color: black;
    
}

.buttons {
    display: flex; 
    gap: 20px;      
}

.boton1 {    
    border-radius: 24px;
    background: #0A3871;    
    width: 328px;
    height: 67px;
    font-size: 16px;
    font-family: 'inter', 'sans-serif';
    border: 1px;    
}


.boton2 {   
    border-radius: 24px;
    background: #D8DFE8;    
    width: 328px;
    height: 67px;
    font-size: 16px;
    font-family: 'inter', 'sans-serif';
    color: #0A3871;    
    border: solid #0A3871 1px;      
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 400px;
    height: 908px;
    background-color:  #FFFFFF;
    border-radius: 32px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    
    
}

h1{    
    text-align: center;
    font-size: bold  24px;
    font-family: 'inter', 'sans-serif';
    color: #343A40;
    font-weight: auto;    
}

h2{    
    text-align: center;
    font-size:   16px;
    font-family: 'inter', 'sans-serif';
    color: #495057;
    font-weight: auto;    
}

.right-column img {
    width: 336px;
    height: 304px;
    background-color:  white;
    display: flex;
    align-items: center;
    
}
